---
import {Image} from '@astrojs/image/components';
import profileImage from '../../images/about/profile.jpg';
---

<div id="about" class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">person</span>About me</h2>
  <div class="flex flex-col sm:flex-row justify-center items-center">
    <Image format={"webp"} quality={100} class="rounded-full border-2 border-slate-300 dark:border-slate-600" src={profileImage} width={150} height={150} alt="Riccardo Armando Di Prinzio" />
    <div class="sm:ml-8 sm:mt-0 mt-4">
      <p class="text-xl mb-3 font-semibold">Ciao, sono Riccardo</p>

      <p class="text-sm mb-2">L'Informatica e la tecnologia sono la mia passione da sempre. Questo mi ha spinto a studiare e diventare Dottore Magistrale in Informatica.</p>

      <p class="text-sm mb-2">Fin dai primi anni di università mi sono interessato alla programmazione e allo sviluppo software. Seguendo questa mia inclinazione ho conseguito il Master in Mobile e Web Technologies.</p>

      <p class="text-sm mb-2">Ho utilizzato tecnologie attuali nell'ambito dello sviluppo web e mobile, tra cui: Android, Spring Boot, Laravel, ReactJS, React Native, Angular.</p>

      <p class="text-sm mb-2">Attualmente sto collaborando con l'Università degli Studi dell'Aquila per la realizzazione di una pubblicazione nel campo delle applicazioni basate su microservizi.</p>

      <!-- TODO: put paragraph with current work status here -->
      
      <a href="#cv" class="border-gray-800 dark:border-gray-400 border-[1px] hover:bg-gray-200 hover:dark:bg-gray-800 w-fit h-fit rounded-xl flex flex-row items-center justify-between flex-nowrap mt-5">
        <div class="flex items-center justify-center px-6 flex-nowrap">
          <span class="material-symbols-outlined text-lg">description</span>
          <p class="ml-1 truncate text-semibold text-base">CV</p>
        </div>
      </a>
    </div>
  </div>
</div>