<div class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">workspace_premium</span>Corsi e certificazioni</h2>
  <ul class="ml-5 list-disc list-outside">
    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">GitLab - Gestione di base, CI/CD, Pipeline e tanto altro</h2>
      <h3 class="font-semibold text-sm mb-1">27 Maggio 2024</h3>
      <h3 class="mb-1">Udemy</h3>
      <p class="mb-1">Certificazione corso Udemy seguito durante il ruolo di Back-end Developer presso Smart Shaped Software @ Pescara (PE).</p>
      <h4 class="text-sm mt-2 mb-2"><span class="font-semibold">Contenuto del corso:</span> <span class="italic">GitLab</span> e <span class="italic">CI/CD</span></h4>
      <h4 class="text-sm mt-2 mb-2"><span class="font-semibold">Durata:</span> 3.5 ore totali</h4>
    </li>
    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">The Git & Github Bootcamp</h2>
      <h3 class="font-semibold text-sm mb-1">20 Maggio 2024</h3>
      <h3 class="mb-1">Udemy</h3>
      <p class="mb-1">Certificazione corso Udemy seguito durante il ruolo di Back-end Developer presso Smart Shaped Software @ Pescara (PE).</p>
      <h4 class="text-sm mt-2 mb-2"><span class="font-semibold">Contenuto del corso:</span> <span class="italic">Git</span> e <span class="italic">GitHub</span></h4>
      <h4 class="text-sm mt-2 mb-2"><span class="font-semibold">Durata:</span> 17 ore totali</h4>
    </li>
    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">Master Microservices with Spring Boot and Spring Cloud</h2>
      <h3 class="font-semibold text-sm mb-1">28 Novembre 2023</h3>
      <h3 class="mb-1">Udemy</h3>
      <p class="mb-1">Certificazione corso Udemy seguito durante il Tirocinio Full-Stack Developer presso Smart Shaped Software @ Pescara (PE).</p>
      <h4 class="text-sm mt-2 mb-2"><span class="font-semibold">Contenuto del corso:</span> <span class="italic">Spring Boot</span>, <span class="italic">Spring Cloud</span>, <span class="italic">Docker</span>, <span class="italic">Kubernetes</span> e <code>API</code> <code>REST</code></h4>
      <h4 class="text-sm mt-2 mb-2"><span class="font-semibold">Durata:</span> 24.5 ore totali</h4>
    </li>
</ul>
</div>

<style>
  .inner-list {
      list-style-type: circle;
  }
</style>