<div class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">school</span>Istruzione e formazione</h2>
  <ul class="ml-5 list-disc list-outside">
        <li class="mb-4">
            <h2 class="font-semibold text-lg">Laurea Magistrale in Informatica</h2>
            <h3 class="font-semibold text-sm mb-1">2018 - 2022</h3>
            <h3>Università degli Studi dell'Aquila</h3>
            <h4 class="font-semibold">Votazione finale: 110 / 110 con lode</h4>
            <h4 class="text-sm opacity-emphasis-medium font-semibold mt-1">Titolo della tesi: Progettazione e sviluppo di un sistema per la gestione di gruppi Pedibus</h4>
        </li>

        <li class="mb-4">
            <h2 class="font-semibold text-lg">Master di 1<sup>o</sup> Livello in Mobile e Web Technologies</h2>
            <h3 class="font-semibold text-sm mb-1">2019 - 2020</h3>
            <h3>Università degli Studi dell'Aquila</h3>
            <h4 class="font-semibold">Votazione finale: 70 / 70 con lode</h4>
        </li>

        <li class="mb-4">
            <h2 class="font-semibold text-lg">Laurea Triennale in Informatica</h2>
            <h3 class="font-semibold text-sm mb-1">2013 - 2018</h3>
            <h3>Università degli Studi dell'Aquila</h3>
            <h4 class="font-semibold">Votazione finale: 101 / 110</h4>
            <h4 class="text-sm opacity-emphasis-medium font-semibold mt-1">Titolo della tesi: Sviluppo di un'applicazione Android per il tracking outdoor di persone con disabilità cognitive</h4>
        </li>

        <li class="mb-4">
            <h2 class="font-semibold text-lg mb-1">Studi pre-universitari: Diploma di maturità linguistica</h2>
            <h3>Liceo Linguistico "Cesare De Titta"</h3>
            <h4 class="font-semibold">Votazione finale: 92 / 100</h4>
        </li>                                
    </ul>
</div>