<div class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">language</span>Conoscenze linguistiche</h2>
  <ul class="ml-5 list-disc list-outside">
        <li class="mb-4">
            <h2 class="font-semibold text-lg">Italiano</h2>
            <h3>Madrelingua</h3>
        </li>

        <li class="mb-4">
            <h2 class="font-semibold text-lg">Inglese</h2>
            <h3>Livello B2</h3>
            <h4 class="text-sm font-semibold opacity-emphasis-medium">Acquisito durante gli studi nella Laurea Magistrale (con superamento dell'esame "Lingua Inglese B2"), nella Laurea Triennale e negli studi liceali</h4>
        </li>

        <li class="mb-4">
            <h2 class="font-semibold text-lg">Spagnolo</h2>
            <h3>Livello B2</h3>
            <h4 class="text-sm font-semibold opacity-emphasis-medium">Acquisito durante gli studi liceali</h4>
        </li>

        <li class="mb-4">
            <h2 class="font-semibold text-lg">Francese</h2>
            <h3>Livello B1</h3>
            <h4 class="text-sm font-semibold opacity-emphasis-medium">Acquisito durante gli studi liceali</h4>
        </li>                                
    </ul>
</div>