---
import Badge from "../../components/Badge.astro";
import ProjectDescription from "../../components/ProjectDescription.astro";
---

<div class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">code</span>Progetti e applicazioni</h2>

  <ul class="ml-5 list-disc list-outside">
    <!-- software architectures -->
    <li id="project-msa-mon" class="mb-4">
      <h2 class="font-semibold text-lg mb-1">Progetto <span class="italic">Architecture for Monitoring of Microservice-based Systems</span></h2>
      <p class="mt-1">Progetto di <span class="italic">Software Architectures</span> che ha portato alla realizzazione di un'architettura per il monitoraggio di applicazioni basate su microservizi.</p>
      <p class="mt-1">Il progetto è attualmente coinvolto in una <a href="#publication-msa-mon" class="font-semibold">pubblicazione</a>.</p>
      <p class="mt-1">Il codice sorgente del progetto non è attualmente visibile (<span class="underline">closed source</span>).</p>
      <div class="flex flex-row flex-wrap my-1">
        <Badge text="Software Architectures" />
        <Badge text="Microservices" />
        <Badge text="Docker" />
        <Badge text="Go" />
        <Badge text="Rust" />
        <Badge text="Python" />
      </div>
      <ProjectDescription id="project-msa-mon-descr" cssClasses="mt-2 mb-2">
        <p class="mt-1">Il progetto ha portato alla creazione di due applicazioni principali scritte in Go:</p>
        <ul class="list-disc list-inside inner-list">
          <li class="mt-1"><span class="text-sm font-semibold">DMON</span>: applicazione che ha il compito di monitorare un qualsiasi sistema a microservizi che utilizza Docker.</li>
          <li class="mt-1"><span class="text-sm font-semibold">WGEN</span>: applicazione che ha il compito di generare workload sul sistema monitorato utilizzando due file in formato <code>YAML</code> contenenti uno la descrizione del workload da generare, e l'altro la descrizione dell'<code>API</code> esposta dal sistema target.</li>
        </ul>
        <p class="mt-1">Il progetto ha portato alla creazione di due applicazioni scritte in Rust utilizzate per testare le applicazioni principali:</p>
        <ul class="list-disc list-inside inner-list">
          <li class="mt-1"><span class="text-sm font-semibold">XDRIVER</span>: applicazione che effettua un singolo test eseguendo l'applicazione <code class="text-sm">WGEN</code> e raccogliendo le informazioni catturate da <code class="text-sm">DMON</code> durante il monitoraggio del sistema a microservizi in esecuzione. I dati raccolti vengono salvati su filesystem creando un dataset per ciascun test eseguito.</li>
          <li class="mt-1"><span class="text-sm font-semibold">XFLOW</span>: applicazione che effettua diversi test in sequenza eseguendo l'applicazione <code class="text-sm">XDRIVER</code> utilizzando i parametri contenuti in un file <code>YAML</code> che contiene la descrizione del workflow da effettuare.</li>
        </ul>
        <p class="mt-1">Il progetto ha portato alla creazione di diversi Jupyter Notebook in cui vengono effettuate analisi statistiche dei dati contenuti nei dataset generati durante i test.</p>
      </ProjectDescription>
      <h3 class="text-sm font-semibold mt-2 mb-2">Autori:</h3>
      <ul class="list-disc list-inside inner-list">
        <li class="text-sm mt-1">Supervisore - Prof. Henry Muccini</li>
        <li class="text-sm mt-1">Supervisore - Prof. Karthik Vaidhyanathan</li>
        <li class="text-sm mt-1">Sviluppatore - Riccardo Armando Di Prinzio</li>
        <li class="text-sm mt-1">Sviluppatore - Valentino Di Giosaffatte</li>
      </ul>
    </li>
    
    <!-- tesi magistrale -->
    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">Progetto <span class="italic">Pedibus</span></h2>
      <p class="mt-1">Progetto di tesi magistrale che ha portato alla progettazione e sviluppo di un server Spring Boot e di due applicazioni client Android utilizzati per la gestione di gruppi Pedibus assieme all'utilizzo di dispositivi iBeacon.</p>
      <p class="mt-1">Il codice sorgente del progetto non è attualmente visibile (<span class="underline">closed source</span>).</p>
      <div class="flex flex-row flex-wrap my-1">
        <Badge text="Tesi magistrale" />
        <Badge text="Android" />
        <Badge text="Spring Boot" />
        <Badge text="iBeacon" />
        <Badge text="Kotlin" />
        <Badge text="Java" />
      </div>
      <ProjectDescription id="project-pedibus-descr" cssClasses="mt-2 mb-2">
        <p class="mt-1">Di seguito verranno descritte le tre applicazioni create nel progetto:</p>
        <ul class="list-disc list-inside inner-list">
          <li class="mt-1"><span class="text-base font-semibold">ServerApp</span>: applicazione server che espone un'interfaccia web utilizzabile da utenti Amministratori, Tutor e Genitori per la gestione delle informazioni presenti nel sistema. L'applicazione espone inoltre un'<code>API</code> <code>REST</code> che permette alle applicazioni client di interagire con il server.</li>
          <li class="mt-1"><span class="text-base font-semibold">TutorApp</span>: applicazione client che supporta l'utente Tutor avvisandolo in caso di allontanamento di uno dei bambini monitorati nel percorso Pedibus. Durante il monitoraggio vengono utilizzati i dispositivi iBeacon indossati dai bambini.</li>
          <li class="mt-1"><span class="text-base font-semibold">ParentApp</span>: applicazione client che supporta l'utente Genitore avvisandolo nel caso in cui un bambino, associato all'utente, si allontani dal Tutor durante il percorso Pedibus. L'applicazione mostra inoltre la posizione <code>GPS</code> del Tutor in tempo reale durante il percorso.</li>
        </ul>
      </ProjectDescription>
      <h3 class="text-sm font-semibold mt-2 mb-2">Autori:</h3>
      <ul class="list-disc list-inside inner-list">
        <li class="text-sm mt-1">Supervisore - Prof. Francesco Tarquini</li>
        <li class="text-sm mt-1">Supervisore - Prof. Leonardo D'Errico</li>
        <li class="text-sm mt-1">Sviluppatore - Riccardo Armando Di Prinzio</li>
      </ul>
    </li>  

    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">Progetto <span class="italic">RCP</span></h2>
      <p class="mt-1">Progetto di <span class="italic">Robotica</span> che ha portato alla realizzazione dell'applicazione <code>RCP</code> (Robot Configuration Parser): un parser e generatore di codice che lavora con descrizioni astratte di robot scritte in formato <code>YAML</code>.</p>
      <p class="mt-1"><code>RCP</code> ha lo scopo di controllare robot non <code>ROS</code> da un ambiente <code>ROS2</code>.</p>
      <p class="mt-1">Il codice sorgente del progetto non è attualmente visibile (<span class="underline">closed source</span>).</p>
      <div class="flex flex-row flex-wrap my-1">
        <Badge text="Robotica" />
        <Badge text="ROS2" />
        <Badge text="Docker" />
        <Badge text="Python" />
      </div>
      <ProjectDescription id="project-rcp-descr" cssClasses="mt-2 mb-2">
        <p class="mt-1"><code>RCP</code> è in grado di generare due librerie separate che forniscono un layer di astrazione tra un ambiente <code>ROS2</code> e un ambiente non <code>ROS</code>.</p>
        <p class="mt-1">Questo layer garantisce a due programmi separati (uno sul lato non <code>ROS</code> e l'altro sul lato <code>ROS2</code>) una comunicazione bidirezionale in un ambiente distribuito.</p>
        <p class="mt-1">Il layer fornisce un'astrazione per i payload (conversione automatica dei messaggi <code>ROS2</code> con interfaccia custom in formato <code>JSON</code>). Questo ci permette di controllare gli attuatori e i sensori di un robot che non ha un'implementazione <code>ROS2</code> attraverso l'uso di un programma <code>ROS2</code>.</p>
      </ProjectDescription>
      <h3 class="text-sm font-semibold mt-2 mb-2">Autori:</h3>
      <ul class="list-disc list-inside inner-list">
        <li class="text-sm mt-1">Supervisore - Prof. Giovanni De Gasperis</li>
        <li class="text-sm mt-1">Sviluppatore - Riccardo Armando Di Prinzio</li>
        <li class="text-sm mt-1">Sviluppatore - Valentino Di Giosaffatte</li>
      </ul>
    </li>               
    
    <!-- tesi triennale -->
    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">Progetto <span class="italic">Casa Tracking</span></h2>
      <p class="mt-1">Progetto di tesi triennale che ha portato allo sviluppo di un'applicazione Android utilizzata per il tracking outdoor di persone con disabilità cognitive.</p>
      <p class="mt-1">Il codice sorgente del progetto non è attualmente visibile (<span class="underline">closed source</span>).</p>
      <div class="flex flex-row flex-wrap my-1">
        <Badge text="Tesi triennale" />
        <Badge text="Android" />
        <Badge text="Firebase" />
        <Badge text="Java" />
      </div>
      <ProjectDescription id="project-casa-tracking-descr" cssClasses="mt-2 mb-2">
        <p class="mt-1">Di seguito verranno descritte le funzionalità dell'applicazione creata nel progetto:</p>
        <ul class="list-disc list-inside inner-list">
          <li class="mt-1">Geolocalizzazione dell'utente su una mappa Google Maps con percorsi e aree sicure.</li>
          <li class="mt-1">Alert all'utente con segnale sonoro e vibrazione in caso di allontanamento dall'area sicura e popup con possibilità di chiamata all'educatore.</li>
          <li class="mt-1">Invio di <code>SMS</code> all'educatore contenente un link Google Maps con la posizione attuale dell'utente in caso di allontanamento dall'area sicura.</li>
          <li class="mt-1">Chiamata e <code>SMS</code> (con link Google Maps) all'educatore disponibili in qualsiasi momento con la pressione del bottone <code>SOS</code>.</li>
          <li class="mt-1">Possibilità dell'utente di consultare una mappa Google Maps con un segnalatore che corrisponde alla sua posizione in tempo reale.</li>
          <li class="mt-1">Possibilità dell'utente di scegliere un percorso. In esso, l'utente viene guidato passo passo verso i diversi punti di interesse che lo compongono.</li>
          <li class="mt-1">Possibilità dell'educatore di conoscere la posizione dell'utente e controllare in qualsiasi momento se esso si trova nell'area sicura. L'implementazione di questa funzionalità ha richiesto l'utilizzo delle notifiche Firebase e di un server <code>PHP</code> che espone un'interfaccia web utilizzabile dall'educatore.</li>
        </ul>
      </ProjectDescription>
      <h3 class="text-sm font-semibold mt-2 mb-2">Autori:</h3>
      <ul class="list-disc list-inside inner-list">
        <li class="text-sm mt-1">Supervisore - Prof. Francesco Tarquini</li>
        <li class="text-sm mt-1">Sviluppatore - Riccardo Armando Di Prinzio</li>
      </ul>
    </li>  

  </ul>
</div>

<style>
  .inner-list {
      list-style-type: circle;
  }
</style>
