---
import SkillIcon from '../../components/SkillIcon.astro';
---

<div id="skills" class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">lightbulb</span>Skills: strumenti utilizzati</h2>
  <ul class="ml-5 list-disc list-outside">
    <li class="mb-4">
      <h2 class="font-semibold text-lg">Linguaggi di Programmazione</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Java" popOverTitle={"Conoscenza avanzata"} popOverBody={"Acquisita in diversi anni attraverso numerosi esami e progetti realizzati. Inoltre il linguaggio è stato utilizzato sia nella tesi triennale, sia nella tesi magistrale"}/>
        
        <SkillIcon text="Python" popOverTitle={"Conoscenza avanzata"} popOverBody={"Acquisita in diversi anni da autodidatta e attraverso lo sviluppo di alcuni progetti realizzati"}/>
        
        <SkillIcon text="JavaScript" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita in diversi anni attraverso lo sviluppo di progetti web"}/>
        
        <SkillIcon text="TypeScript" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies e attraverso lo sviluppo di alcuni progetti web"}/>
               
        <SkillIcon text="C" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso alcuni esami realizzati nella laurea triennale"}/>
        
        <SkillIcon text="Kotlin" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso il suo utilizzo nella tesi magistrale"}/>
        
        <SkillIcon text="Go" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita da autodidatta e attraverso lo sviluppo del progetto \"Architecture for Monitoring of Microservice-based Systems\""}/>

        <SkillIcon text="Rust" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita da autodidatta e attraverso lo sviluppo del progetto \"Architecture for Monitoring of Microservice-based Systems\""}/>

        <SkillIcon text="PHP" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita attraverso lo sviluppo di alcuni progetti web"}/>

        <SkillIcon text="C++" popOverId={"c-plus-plus"} popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita da autodidatta"}/>

        <!--
        <SkillIcon text="Lua" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita da autodidatta"}/>
        -->

      </div>
    </li>
    
    <li class="mb-4">
      <h2 class="font-semibold text-lg">Linguaggi di Markup</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="HTML5" popOverTitle={"Conoscenza avanzata"} popOverBody={"Acquisita in diversi anni attraverso lo sviluppo di progetti web"}/>
        
        <SkillIcon text="CSS3" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso lo sviluppo di progetti web"}/>
        
        <SkillIcon text="LaTeX" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita attraverso la scrittura della tesi triennale e della tesi magistrale"}/>
        
      </div>
    </li>

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Sviluppo di Applicazioni Mobili</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Android" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso i progetti Android realizzati durante la laurea triennale e durante il master in Mobile e Web Technologies. Inoltre Android è stato utilizzato sia nella tesi triennale, sia nella tesi magistrale"}/>
        
        <SkillIcon text="React Native" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies e attraverso il suo utilizzo durante il tirocinio"}/>
        
      </div>
    </li> 

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Programmazione Web</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Spring Boot" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies e attraverso il suo utilizzo nella tesi magistrale"}/>
      
        <SkillIcon text="Laravel" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies e attraverso il suo utilizzo durante il tirocinio"}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Librerie JavaScript e Web Framework</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Astro" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita da autodidatta attraverso la creazione di questo sito web"}/>

        <SkillIcon text="Angular" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies"}/>
      
      </div>
    </li>  

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Database</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="MySQL" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso esami e progetti realizzati durante la laurea triennale, durante la laurea magistrale e durante il master in Mobile e Web Technologies"}/>
        
        <SkillIcon text="Redis" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso la realizzazione del progetto \"RCP\" e del progetto \"Architecture for Monitoring of Microservice-based Systems\""}/>

        <SkillIcon text="MongoDB" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies"}/>
        
      </div>
    </li>

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Sistemi Operativi</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Linux" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso anni di utilizzo, problem solving e installazioni su macchina fisica e virtuale. Sono state utilizzate diverse distribuzioni Linux, tra le quali Arch Linux, Debian, Ubuntu e Artix Linux"}/>
        
        <SkillIcon text="Windows" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso anni di utilizzo, problem solving e installazioni su macchina fisica e virtuale"}/>
        
      </div>
    </li>
    
    <li class="mb-4">
      <h2 class="font-semibold text-lg">Build Automation</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Docker" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso la realizzazione del progetto \"RCP\" e del progetto \"Architecture for Monitoring of Microservice-based Systems\""}/>
        
        <SkillIcon text="Docker Compose" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso la realizzazione del progetto \"RCP\" e del progetto \"Architecture for Monitoring of Microservice-based Systems\""}/>

        <SkillIcon text="Makefile" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita da autodidatta e utilizzata per automatizzare la compilazione e il processo di build di progetti realizzati"}/>

        <SkillIcon text="Kubernetes" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita attraverso la realizzazione del progetto \"Architecture for Monitoring of Microservice-based Systems\""}/>

        <SkillIcon text="CMake" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita da autodidatta attraverso lo sviluppo di alcuni progetti C++"}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Ambienti di sviluppo integrato (IDE)</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Android Studio" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti Android realizzati durante la laurea triennale, durante il master in Mobile e Web Technologies, e al suo utilizzo sia nella tesi triennale, sia nella tesi magistrale"}/>
        
        <SkillIcon text="IntelliJ IDEA" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies e al suo utilizzo nella tesi magistrale"}/>
        
      </div>
    </li> 

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Strumenti per la Data Science</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Jupyter" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science realizzati durante la laurea magistrale e il master in Mobile e Web Technologies. Inoltre Jupyter Notebook è stato utilizzato negli esami di Intelligenza Artificiale e Network Optimization della laurea magistrale"}/>
        
        <SkillIcon text="NumPy" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science realizzati durante la laurea magistrale e il master in Mobile e Web Technologies"}/>
        
        <SkillIcon text="Pandas" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science durante la laurea magistrale e il master in Mobile e Web Technologies"}/>
        
        <SkillIcon text="Scikit-Learn" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita attraverso i progetti di Data Science durante la laurea magistrale e il master in Mobile e Web Technologies"}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Strumenti Software</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Git" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita in diversi anni durante il suo utilizzo in numerosi progetti di programmazione"}/>
        
        <SkillIcon text="Conda" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science realizzati durante la laurea magistrale e il master in Mobile e Web Technologies. Inoltre Conda è stato utilizzato negli esami di Intelligenza Artificiale e Network Optimization della laurea magistrale"}/>

        <SkillIcon text="Poetry" popOverTitle={"Conoscenza intermedia"} popOverBody={"Python-Poetry. Acquisita attraverso la realizzazione del progetto \"Architecture for Monitoring of Microservice-based Systems\""}/>

        <SkillIcon text="ROS" popOverTitle={"Conoscenza base"} popOverBody={"Robot Operating System (ROS). Acquisita attraverso il suo utilizzo nell'esame di Robotica e nel progetto \"RCP\""}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <h2 class="font-semibold text-lg">Strumenti per la gestione di progetti</h2>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Trello" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita durante il master in Mobile e Web Technologies e attraverso il suo utilizzo durante il tirocinio"}/>

      </div>
    </li>

  </ul>
</div>
