---
import SkillIcon from '../../components/SkillIcon.astro';
---

<div id="skills" class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">lightbulb</span>Skills</h2>
  <ul class="ml-5 list-disc list-outside">
    <li class="mb-4">
      <span class="font-semibold text-lg">Linguaggi di Programmazione</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Java" popOverTitle={"Conoscenza avanzata"} popOverBody={"Acquisita in diversi anni attraverso numerosi esami e progetti realizzati. Inoltre il linguaggio è stato utilizzato sia nella tesi triennale, sia nella tesi magistrale"}/>
        
        <SkillIcon text="Python" popOverTitle={"Conoscenza avanzata"} popOverBody={"Acquisita in diversi anni da autodidatta e attraverso lo sviluppo di alcuni progetti realizzati"}/>
        
        <SkillIcon text="JavaScript" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita in diversi anni attraverso i progetti web realizzati"}/>
        
        <SkillIcon text="TypeScript" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita durante il master attraverso alcuni progetti web realizzati"}/>
               
        <SkillIcon text="C" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso alcuni esami realizzati nella laurea triennale"}/>
        
        <SkillIcon text="Kotlin" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso il suo utilizzo nella tesi magistrale"}/>
        
        <SkillIcon text="PHP" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti web realizzati"}/>
        
        <SkillIcon text="Go" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita da autodidatta e attraverso lo sviluppo del progetto DMON"}/>
        
        <SkillIcon text="C++" popOverId={"c-plus-plus"} popOverTitle={"Conoscenza base"} popOverBody={"Acquisita da autodidatta"}/>
        
      </div>
    </li>
    
    <li class="mb-4">
      <span class="font-semibold text-lg">Linguaggi di Markup</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="HTML5" popOverTitle={"Conoscenza avanzata"} popOverBody={"Acquisita in diversi anni attraverso i progetti web realizzati"}/>
        
        <SkillIcon text="CSS3" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti web realizzati"}/>
        
        <SkillIcon text="LaTeX" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita attraverso la scrittura sia della tesi triennale, sia della tesi magistrale"}/>
        
      </div>
    </li>

    <li class="mb-4">
      <span class="font-semibold text-lg">Sviluppo di Applicazioni Mobili</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Android" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso i progetti Android realizzati durante la laurea triennale e durante il master. Inoltre Android viene utilizzato sia nella tesi triennale, sia nella tesi magistrale"}/>
        
        <SkillIcon text="React Native" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita durante il master e attraverso il suo utilizzo durante il tirocinio"}/>
        
      </div>
    </li> 

    <li class="mb-4">
      <span class="font-semibold text-lg">Programmazione Web</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Spring Boot" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita durante il master e alltraverso il suo utilizzo nella tesi magistrale"}/>
      
        <SkillIcon text="Laravel" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita durante il master e attraverso il suo utilizzo durante il tirocinio"}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <span class="font-semibold text-lg">Librerie JavaScript e Web Framework</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Angular" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita durante il master"}/>
      
        <SkillIcon text="Astro" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita da autodidatta attraverso la creazione di questo sito web"}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <span class="font-semibold text-lg">Database</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="MySQL" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso esami e progetti realizzati durante la laurea triennale, durante la laurea magistrale e durante il master"}/>
        
        <SkillIcon text="Redis" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso la realizzazione del progetto RCP e del progetto DMON"}/>

        <SkillIcon text="MongoDB" popOverTitle={"Conoscenza base-intermedia"} popOverBody={"Acquisita durante il master"}/>
        
      </div>
    </li>

    <li class="mb-4">
      <span class="font-semibold text-lg">Sistemi Operativi</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Linux" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso anni di utilizzo, problem solving e installazioni su macchina fisica e virtuale. Sono state utilizzate diverse distribuzioni Linux quali Ubuntu, Debian, Arch Linux, Artix Linux, sia su macchina virtuale, sia su macchina fisica"}/>
        
        <SkillIcon text="Windows" popOverTitle={"Conoscenza intermedia-avanzata"} popOverBody={"Acquisita attraverso anni di utilizzo, problema solving e installazioni su macchina fisica e virtuale"}/>
        
      </div>
    </li>
    
    <li class="mb-4">
      <span class="font-semibold text-lg">Build Automation</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Docker" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso la realizzazione del progetto RCP e del progetto DMON"}/>
        
        <SkillIcon text="Docker Compose" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso la realizzazione del progetto RCP e del progetto DMON"}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <span class="font-semibold text-lg">Ambienti di sviluppo integrato (IDE)</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Android Studio" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti Android realizzati durante la laurea triennale, durante il master, e al suo utilizzo sia nella tesi triennale, sia nella tesi magistrale"}/>
        
        <SkillIcon text="IntelliJ Idea" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita durante il master e al suo utilizzo nella tesi magistrale"}/>
        
      </div>
    </li> 

    <li class="mb-4">
      <span class="font-semibold text-lg">Strumenti per la Data Science</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Jupyter" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science realizzati durante la laurea magistrale e il master. Inoltre Jupyter Notebook è stato utilizzato negli esami di Intelligenza Artificiale e Network Optimization della laurea magistrale"}/>
        
        <SkillIcon text="NumPy" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science realizzati durante la laurea magistrale e il master"}/>
        
        <SkillIcon text="Pandas" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science durante la laurea magistrale e il master"}/>
        
        <SkillIcon text="Scikit-Learn" popOverTitle={"Conoscenza base"} popOverBody={"Acquisita attraverso i progetti di Data Science durante la laurea magistrale e il master"}/>
        
      </div>
    </li>  

    <li class="mb-4">
      <span class="font-semibold text-lg">Strumenti Software</span>
      <div class="flex flex-row flex-wrap">
        <SkillIcon text="Git" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita in diversi anni durante il suo utilizzo in numerosi progetti di programmazione"}/>
        
        <SkillIcon text="Conda" popOverTitle={"Conoscenza intermedia"} popOverBody={"Acquisita attraverso i progetti di Data Science realizzati durante la laurea magistrale e il master. Inoltre Conda è stato utilizzato negli esami di Intelligenza Artificiale e Network Optimization della laurea magistrale"}/>
        
        <SkillIcon text="ROS" popOverTitle={"Conoscenza base"} popOverBody={"Robot Operating System (ROS). Acquisita attraverso il suo utilizzo nell'esame di Robotica e nel progetto RCP"}/>
        
      </div>
    </li>  
 
  </ul>
</div>
