<div class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">work</span>Esperienze lavorative</h2>
  <ul class="ml-5 list-disc list-outside">
    <li class="mb-4">
        <h2 class="font-semibold text-lg">Tirocinio interno - Master in Mobile e Web Technologies</h2>
        <h3 class="font-semibold text-sm mb-1">11/2020 - 12/2020</h3>
        <h3>Università degli Studi dell'Aquila @ L'Aquila (AQ)</h3>
        <p>Attività di tirocinio svolta durante il Master in Mobile e Web Technologies incentrata sullo sviluppo di software server e client dedicato all'applicazione Univaq. La durata del tirocinio è stata di 100 ore.</p>
        <h4 class="text-sm font-semibold mt-2 mb-2">Attività svolte:</h4>
        <ul class="list-disc list-inside inner-list">
            <li class="text-sm mt-1">Sviluppo della sezione News e della sezione Categorie su server <span class="italic">Laravel</span></li>
            <li class="text-sm mt-1">Sviluppo della sezione News e della sezione Categorie su client <span class="italic">React Native</span></li>
            <li class="text-sm mt-1">Sviluppo di <code>API</code> <code>REST</code> che permette di recuperare tutte le categorie e tutte le news presenti nel sistema (eventualmente filtrate in base alle categorie)</li>
            <li class="text-sm mt-1">Organizzazione del lavoro utilizzando lo strumento <span class="italic">Trello</span></li>
        </ul>
    </li>                             
</ul>
</div>

<style>
  .inner-list {
      list-style-type: circle;
  }
</style>