<div class="my-10">
  <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">work</span>Esperienze lavorative</h2>
  <ul class="ml-5 list-disc list-outside">
    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">Full-Stack Developer</h2>
      <h3 class="font-semibold text-sm mb-1">01/2024 - presente</h3>
      <h3 class="mb-1">Smart Shaped Software @ Pescara (PE)</h3>
      <p class="mb-1">Consulente informatico Full-Stack Developer in collaborazione con l'azienda Corvallis Srl.</p>
      <h4 class="text-sm font-semibold mt-2 mb-2">Attività svolte:</h4>
      <ul class="list-disc list-inside inner-list">
        <li class="text-sm mt-1">Utilizzo del framework Java <span class="italic">Spring Boot</span> per lo sviluppo di applicazioni Back-End</li>

        <li class="text-sm mt-1">Utilizzo del framework <span class="italic">Angular</span> per lo sviluppo di applicazioni Front-End</li>

        <li class="text-sm mt-1">Sviluppo di applicazioni a microservizi e utilizzo di <span class="italic">Docker</span> e <span class="italic">Kubernetes</span></li>        
      </ul>
    </li>

    <li class="mb-4">
      <h2 class="font-semibold text-lg mb-1">Tirocinio Full-Stack Developer</h2>
      <h3 class="font-semibold text-sm mb-1">11/2023 - 01/2024</h3>
      <h3 class="mb-1">Smart Shaped Software @ Pescara (PE)</h3>
      <p class="mb-1">Attività di tirocinio in azienda per il ruolo di Full-Stack Developer.</p>
      <h4 class="text-sm font-semibold mt-2 mb-2">Attività svolte:</h4>
      <ul class="list-disc list-inside inner-list">
        <li class="text-sm mt-1">Utilizzo del framework Java <span class="italic">Spring Boot</span> per lo sviluppo di applicazioni Back-End</li>

        <li class="text-sm mt-1">Utilizzo del framework <span class="italic">Angular</span> per lo sviluppo di applicazioni Front-End</li>

        <li class="text-sm mt-1">Sviluppo di applicazioni a microservizi e utilizzo di <span class="italic">Docker</span> e <span class="italic">Kubernetes</span></li>        
      </ul>
    </li>

    <li class="mb-4">
        <h2 class="font-semibold text-lg mb-1">Tirocinio interno - Master in Mobile e Web Technologies</h2>
        <h3 class="font-semibold text-sm mb-1">11/2020 - 12/2020</h3>
        <h3 class="mb-1">Università degli Studi dell'Aquila @ L'Aquila (AQ)</h3>
        <p class="mb-1">Attività di tirocinio svolta durante il Master in Mobile e Web Technologies incentrata sullo sviluppo di software server e client dedicato all'applicazione Univaq. <br> La durata del tirocinio è stata di 100 ore.</p>
        <h4 class="text-sm font-semibold mt-2 mb-2">Attività svolte:</h4>
        <ul class="list-disc list-inside inner-list">
            <li class="text-sm mt-1">Sviluppo della sezione News e della sezione Categorie su server <span class="italic">Laravel</span></li>
            <li class="text-sm mt-1">Sviluppo della sezione News e della sezione Categorie su client <span class="italic">React Native</span></li>
            <li class="text-sm mt-1">Sviluppo di <code>API</code> <code>REST</code> che permette di recuperare tutte le categorie e tutte le news presenti nel sistema (eventualmente filtrate in base alle categorie)</li>
            <li class="text-sm mt-1">Organizzazione del lavoro utilizzando lo strumento <span class="italic">Trello</span></li>
        </ul>
    </li>                             
</ul>
</div>

<style>
  .inner-list {
      list-style-type: circle;
  }
</style>