---
export interface Props {
  text: string,
  cssClasses?: string,
};

const {text, cssClasses = ""} = Astro.props as Props;
---

<span class={`select-none bg-gray-300 text-gray-900 text-sm font-medium ${cssClasses} mr-2 my-1 px-2.5 py-0.5 rounded-xl dark:bg-gray-700 dark:text-gray-200 border-[1px] border-gray-400 dark:border-gray-600 transition-all`}>{text}</span>
