---
import PdfIcon from '../images/svg/cv/pdf_icon.astro';

export interface Props {
  cvLink: string,
  anchorText: string,
  cssClasses?: string,
};

const {cvLink, anchorText, cssClasses = ""} = Astro.props as Props;
---

<div class={`w-full flex flex-col justify-center ${cssClasses}`}>
  <a href={cvLink} target="_blank" rel="noopener noreferrer" type="application/pdf" class="border-gray-800 dark:border-gray-400 border-[1px] hover:bg-gray-200 hover:dark:bg-gray-800 w-full rounded-xl flex flex-row items-center justify-between px-2 flex-nowrap">
    <div class="flex items-center justify-center p-2 flex-nowrap">
      <div class="dark:invert w-[26px] h-[26px]">
        <PdfIcon />
      </div>
      <p class="ml-2 truncate text-semibold text-lg">{anchorText}</p>
    </div>
    <span class="material-symbols-outlined overflow-hidden">open_in_new</span>
  </a>
</div>