---
import LinkedInLightIcon from '../images/svg/contacts/linkedin_light_icon.astro';
import LinkedInDarkIcon from '../images/svg/contacts/linkedin_dark_icon.astro';
import GithubIcon from '../images/svg/contacts/github_icon.astro';
import MailIcon from '../images/svg/contacts/mail_icon.astro';
import Consts from '../consts';
---

<footer class="transition-all flex flex-col flex-nowrap items-center justify-center">
  <!-- contacts -->
  <div class="pb-2 px-2 flex flex-row flex-nowrap items-center justify-center">
    <!-- LinkedIn -->
    <div class="m-2 flex flex-col items-center transition-all hover:scale-110">
      <a aria-label="LinkedIn" href={Consts.linkedInLink} target="_blank" rel="noopener noreferrer">
        <!-- light mode -->
        <div class="dark:hidden w-[25px] h-[25px]">
          <LinkedInLightIcon />
        </div>

        <!-- dark mode -->
        <div class="hidden dark:block w-[25px] h-[25px]">
          <LinkedInDarkIcon />
        </div>
      </a>
    </div>

    <!-- GitHub -->
    <div class="m-2 flex flex-col items-center transition-all hover:scale-110">
      <a aria-label="GitHub" href={Consts.gitHubLink} target="_blank" rel="noopener noreferrer">
        <!-- light mode -->
        <div class="dark:hidden w-[25px] h-[25px]">
          <GithubIcon />
        </div>

        <!-- dark mode -->
        <div class="hidden dark:block dark:invert w-[25px] h-[25px]">
          <GithubIcon />
        </div>
      </a>
    </div>
    
    <!-- Email -->
    <div class="m-2 flex flex-col items-center transition-all hover:scale-110">
      <a aria-label="Email" class="mail-contact" title="Enable JavaScript to view content" target="_blank" rel="noopener noreferrer">
        <!-- light mode -->
        <div class="dark:hidden w-[25px] h-[25px]">
          <MailIcon />
        </div>
        
        <!-- dark mode -->
        <div class="hidden dark:block dark:invert w-[25px] h-[25px]">
          <MailIcon />
        </div>
      </a>
    </div>
  </div>

  <div class="w-full">
    <hr class="h-px bg-gray-400 border-0 dark:bg-gray-600" />
  </div>

  <!-- Copyright -->
  <div class="w-full pb-2 pt-2 flex flex-row flex-nowrap items-center justify-center">
    <span class="text-center">Copyright &copy; <span id="footer-copyright-date-range">2022</span> Riccardo Armando Di Prinzio. All rights reserved.</span>
  </div>
</footer>